.button {
    border: 1px transparent;
    -webkit-border-radius: 40px;
    border-radius: 7px;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-size: 15px;
    padding: 3px 9px;
    text-align: center;
    text-decoration: none;
    margin-left: 20px;
    -webkit-animation: glowing 1300ms infinite;
    -moz-animation: glowing 1300ms infinite;
    -o-animation: glowing 1300ms infinite;
    animation: glowing 1300ms infinite;
  }
  @-webkit-keyframes glowing {
    0% {
      background-color: #4573d2;
      -webkit-box-shadow: 0 0 3px #4573d2;
    }
    50% {
      background-color: #21c7ed;
      -webkit-box-shadow: 0 0 15px #21c7ed;
    }
    100% {
      background-color: #4573d2;
      -webkit-box-shadow: 0 0 3px #4573d2;
    }
  }
  @keyframes glowing {
    0% {
      background-color: #4573d2;
      box-shadow: 0 0 3px #4573d2;
    }
    50% {
      background-color: #308ee6;
      box-shadow: 0 0 15px #21a2ed;
    }
    100% {
      background-color: #4573d2;
      box-shadow: 0 0 3px #4573d2;
    }
  }
  .svg-btn {
    display: block;
    width: 210px;
    height: 210px;
    margin-left: 10px;
  }
  svg {
    fill: 4573d2;
    -webkit-animation: glowing-polygon 1300ms infinite;
    -moz-animation: glowing-polygon 1300ms infinite;
    -o-animation: glowing-polygon 1300ms infinite;
    animation: glowing-polygon 1300ms infinite;
  }
  @-webkit-keyframes glowing-polygon {
    0% {
      fill: #4573d2;
      -webkit-filter: drop-shadow( 0 0 3px #0091b2);
    }
    50% {
      fill: #4573d2;
      -webkit-filter: drop-shadow( 0 0 15px #4573d2);
    }
    100% {
      fill: #4573d2;
      -webkit-filter: drop-shadow( 0 0 3px #4573d2);
    }
  }
  @keyframes glowingPolygon {
    0% {
      fill: #4573d2;
      filter: drop-shadow( 0 0 3px #4573d2);
    }
    50% {
      fill: #4573d2;
      filter: drop-shadow( 0 0 15px #4573d2);
    }
    100% {
      fill: #4573d2;
      filter: drop-shadow( 0 0 3px #4573d2);
    }
  }